*
{margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style: none;
 text-decoration: none;}

body
{background-color: rgb(11, 0, 0);}

#guts
{display: flex;
 align-content: flex-start;
 padding: 100px;}

.imagens
{width: 280px;}

#h1_1
{padding: 80px;
 padding-left: 150px;
 padding-bottom: 40px;
 font-size: 2em;}

#h1_p1
{display: block;}

.paragrafo
{width: 500px;
 padding: 30px;
 padding-top: 0px;
 padding-left: 100px;}

#p1
{padding: 30px;
 padding-top: 0px;
 padding-left: 100px;}

#p2
{width: 500px;}

p
{color: white;
 font-family: Georgia, 'Times New Roman', Times, serif;}

.nomes
{color: white;
 font-family: 'Times New Roman', Times, serif;}

.direito
{padding: 50px;
 padding-left: 100px;}

#h1_2
{padding-left: 100px;
 padding-bottom: 20px;}

#h1_p2
{display: flex;
 align-content: flex-start;}

#img2
{width: 400px;
 padding-left: 100px;
 height: 350px;}

#h1_p3
{display: block;}

.esquerdo
{display: flex;
 align-content: flex-start;
 padding: 100px;}

#h1_3
{padding-left: 150px;}

#p3
{padding-top: 30px;}

#h1_p4
{display: flex;
 align-content: flex-start;}

#img4
{width: 520px;
 padding-left: 100px;
 height: 350px;}

#p4
{width: 500px;
 padding-top: 50px;}

#img5
{width: 300px;
 height: 200px;}

#img6
{width: 250px;
 padding-left: 40px;}